<!DOCTYPE html>
<html lang="en">
<head>
    <title>LawnBuddy</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<script src="/static/js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
					<li role="presentation"><a href="/userHome">Home</a></li>
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><a href="/userHome">LawnBuddy | Client</a></h3>
        </div>
        <div class="jumbotron">
            <h1>Current Bid</h1>
			<p>Your current lowest bid is {{bid}} by Vendor {{vendorid}}</p>
			<p>{{acceptanceMessage}}</p>
			<p><a class="btn btn-lg btn-primary" href="/showCurrentBid" role="button">Accept Bid</a></p>
			<p><a class="btn btn-lg btn-success" href="/showAllVendors" role="button">Show All Vendors</a></p>
			<p><a class="btn btn-lg btn-info" href="/showSubmitReview" role="button">Submit a Review</a></p>
			<div class="list-group">
			</div>
        </div>
        <footer class="footer">
            <p>&copy; LawnBuddy</p>
        </footer>
    </div>
</body>
</html>